.container {
    background-color: #30336b;
    width: auto;
    height: 100px;
    overflow: hidden;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.NavMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    transition: all 0.3s ease-in-out;
}

.NavMenu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.NavMenu a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}

.NavMenu a:hover {
    color: #f0932b;
    transition: 0.5s ease;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.search input {
    padding: 4px 10px;
    border-radius: 50px;
    color: #000;
}

.search input::placeholder{
    font-size: 12px;
    color: #333;
}

.search input:focus {
    outline: none;
}